-
  var headerTitle = 'Вы придете?';
  var firstNameLabel = 'Ваше имя *';
  var secondNameLabel = 'Ваша фамилия *';
  var phoneLabel = 'Номер телефона *';
  var eventsLabel = 'Присутствие *';
  var events = [
    {
      value: 'all',
      title: 'Все события'
    },
    {
      value: 'wedding',
      title: 'Венчание'
    },
    {
      value: 'registry',
      title: 'Регистрация'
    },
    {
      value: 'restorant',
      title: 'Ресторан'
    }
  ];
  var rsvpButton = 'Подтверждаю';

section.rsvp-container
  .rsvp
    h1.rsvp__title
      = headerTitle
    form.rsvp__form(
      autocomplete
    )
      .rsvp__item
        label.form__label(
          for="first-name"
        )
          = firstNameLabel
        br
        input.form__input(
          name="first-name"
          id="first-name"
          required
        )
      .rsvp__item
        label.form__label(
          for="second-name"
        )
          = secondNameLabel
        br
        input.form__input(
          name="second-name"
          id="second-name"
          required
        )
      .rsvp__item
        label.form__label(
          for="phone"
        )
          = phoneLabel
        br
        input.form__input(
          name="phone"
          id="phone"
          required
        )
      .rsvp__item
        label.form__label(
          for="events"
        )
          = eventsLabel
        br
        select.form__select(
          name="events"
          id="events"
          multiple
          required
          data-select-event
        )
          each event in events
            option.form__option(
              value=event.value
            )
              = event.title
      .rsvp__item
        input.button(
          name="submit"
          type="submit"
          value=rsvpButton
        )
