mixin placeInner(place, index)
  .place__details
    .place__row
      .place__icon
        include ../svg/places_calendar.svg
      .place__detail
        = place.date
    .place__row
      .place__icon
        include ../svg/places_clock.svg
      .place__detail
        = place.time
    .place__row
      .place__icon
        include ../svg/places_place.svg
      .place__detail
        = place.address

section.places-container#places(data-background-url='img/hero_bg.jpg')
  .places
    h1.places__title(
      data-animation = "fadeInUp"
    )
      = ui.places.title
    ul.places__nav(
      data-animation = "fadeInUp"
    )
      - var index = 0;
      each place in data.places.list
        li.places__nav-item
          if index == 0
            button.places__nav-title(
              data-tab-target='tab_'+index
              data-nav-current
            )
              = place.title
          else
            button.places__nav-title(data-tab-target='tab_'+index)
              = place.title
        - index++;
    .places__info(
      data-animation = "fadeIn"
    )
      .places__list
        - var index = 0;
        each place in data.places.list
          if index == 0
            .place.place_current(
              data-tab='tab_'+index
              data-place-lat=place.cord.lat
              data-place-lng=place.cord.lng
              data-tab-current
            )
              +placeInner(place, index)
          else
            .place(
              data-tab='tab_'+index
              data-place-lat=place.cord.lat
              data-place-lng=place.cord.lng
            )
              +placeInner(place, index)
          - index++;
      .places__map#map
