doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    title Title
    link(
      href="https://fonts.googleapis.com/css?family=Comfortaa|Cormorant:600,600i,700|Open+Sans:300,400,400i,600,700&amp;subset=cyrillic"
      rel="stylesheet"
    )
    link(
      href="style.css"
      rel="stylesheet"
    )
  body
    include header/header.pug
    include hero/hero.pug
    include counter/counter.pug
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="main.js")
